* { margin: 0; padding: 0; }
html, body { height: 95%; }

.own_user { color: #ff0000; }
.other_user { color: #0000ff; }
.user_in_text { color: #BD711F; font-weight: bold; }
.smiles {
  background-image: url('../images/smiles.png');
  display: inline-block;
  width: 18px;
  height: 18px;
}
.smile1 { background-position: 0 0; }
.smile2 { background-position: -40px -42px; }
.smile3 { background-position: -20px 0; }
.smile4 { background-position: -60px -21px; }
.smile5 { background-position: -20px -21px; }
.smile6 { background-position: -60px -84px; }

#clientIM { margin: 0 10px; }

#clientIM > input {
  width: 100%;
  padding: 4px 5px;
  margin: 5px 0;
}
#clientIM > .field_error { background-color: #ff0000; }

#clientIM > button {
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 5px 10px;
  cursor: pointer;
}
#clientIM > button:hover {
  background-color: #eee;
}
#chatBody {
  height: 50%;
  padding: 5px 10px;
  border: 1px solid #bbb;
  margin: 10px;
}

.chatFrame {
  width: 48%;
  border: 1px solid #bbb;
  height: 48%;
}